[2016-11-11 04:51] kormoc opened #1 "Should require video clips"
Each policy should have a video clip of the promise

[2016-11-11 04:55] subdavis opened #2 "Fact Checking UI"
Hey!  I think the general UI implications for your fact checking could use work.

Each topic begins with a header that links to the source of the issues.  This is problematic because it implies that each issue set may be associated with at most 1 source.  In the event I want to pull policies from more than one article, there is no mechanism for doing this.

I recommend a more wikipedia-style citat

[2016-11-11 04:59] subdavis commented on #1
I think fact checking in general needs work.  I'm not sure video is possible though, as many came from rallies that were not recorded, or journalist interviews. That requirement might be overly stringent.

Check out #2 as well.

[2016-11-11 12:08] jamesscottbrown opened #4 "Several items are not promises"
Several items (particularly on the 'International' tab) are statements of Trumps' beliefs, rather than promises about what he will do. For example,

* "Israel is the state of the Jewish people, who have lived in that land for 3,500 years. The State of Israel was founded with courage and determination by great men and women against enormous odds and is an inspiration to people everywhere who value

[2016-11-11 13:01] pavellishin opened #5 "RSS Feed?"
An RSS feed would be excellent for updates.

[2016-11-12 04:12] aflashyrhetoric commented on #1
Agreed, I think that video is excessive but I do agree that the quality of this entire project hinges on the reliability of the promises. Definitely a core concern. At the very least, it should be sourced in some way from a "reliable" news source.

[2016-11-12 04:25] aflashyrhetoric opened #7 "What's the current planned way to manage Promises?"
I'd like to contribute as this seems like an interesting project - were you planning to include some sort of CMS to manage the promises? I think a flat-file CMS might be good here - simple and easy to manage.

[2016-11-12 15:45] alanfriedman opened #11 "Make it dynamic"
This is great but like you said, would benefit from not having everything hard-coded. I'd suggest a simple static site generator like Jekyll with the "promises" being pulled from a JSON list.

I'm happy to submit a PR if you're interested in taking that route.

[2016-11-12 17:58] VirenMohindra commented on #11
This is a great idea. I would love to have a PR if you can implement this!

[2016-11-12 17:59] VirenMohindra commented on #7
Do you have any ideas for flat file CMS's? I'm not sure which one to use.

[2016-11-12 18:03] #4 closed, assigned to nobody

[2016-11-12 18:07] aflashyrhetoric commented on #7
If you're comfortable with PHP (or want an excuse to dive in), [Grav](https://getgrav.org/) is a powerful option. I am using it for a website right now and it's lovely. But you may want to spend a day purely reading the docs over and over instead of trying to build something right away. (It's also one of the most popular flat file CMSes out there.)

[2016-11-12 18:17] thedotmack commented on #11
I would love to see this data in JSON format, it would allow everyone to build some really interesting things from it.

We could probably easily scrape it out of here :)

[2016-11-12 18:20] jayrav13 commented on #11
Happy to contribute to this! +1

[2016-11-12 18:23] VirenMohindra commented on #11
Every policy is under a `<table class="table">` > `<tbody>` > `<td>`

If someone does scrape it, please push the `.json` onto this repo. I'll merge it!

[2016-11-12 18:32] jacobbarrow opened #12 "Issue 31 in 'Uncategorized' is just '------------------------------------------'"

[2016-11-12 18:34] VirenMohindra commented on #12
Only policy number 31 is '---------------------------------------------------------------------------------------'.

Purposely did that to separate  a subsection of the uncategorized policies.

[2016-11-12 18:34] #12 closed, assigned to nobody

[2016-11-12 18:38] VirenMohindra commented on #7
I really want to keep it on the .github.io domain because I automatically get SSL encryption and the site won't crash under any stress. If `Grav` is php I don't think I'll be able to use it on Github because it's statically generated sites/ or templating system engines only right?

[2016-11-12 20:30] aflashyrhetoric commented on #7
Ah in that case maybe Jekyll or Hugo. I've used both and loved both, although I'm more into Hugo now. They are SSGs but if we use Flyleaf (I think that's what it was called) on top of it we can have a pretty decent CMS-esque experience. I understand your decision though - better to let Github handle the security for a site like this, ahaha.

[2016-11-12 22:03] VirenMohindra commented on #4
I closed this issue, but we are definitely working on cleaning all of this. Thank you for your suggestions.

[2016-11-12 22:21] VirenMohindra opened #14 "Add Comment section linking to /r/trumptracker"
Add Comment section linking to /r/trumptracker on each policy on the right-hand side. Keep comments off the site to avoid toxicity + speed of the site.

[2016-11-12 23:58] #7 closed, assigned to nobody

[2016-11-13 12:03] MrLuit commented on #14
I want to help you, but how do you want to implement this? Make a seperate thread for every promise?

If that's the case I will write that in no time.

[2016-11-13 21:52] domingohui commented on #14
Comment section is important! :)
I think to implement a comment section, we should decide on database  first. I notice alanfriedman is using JSON for the promises. Are we sticking to JSON for both promises, comments, etc? Or are we going to use something like SQLite?

@VirenMohindra when you said to keep comments off the site", did you mean just having comments in a separate database? Just like th

[2016-11-13 22:02] VirenMohindra commented on #14
There is currently a whole subreddit dedicated to [/r/trumptracker](https://www.reddit.com/r/trumptracker/). We will be using Reddit as a platform to allow comments, so that the comments don't bog down the site, or add any bias/ toxicity onto a purely objective platform.
- Github is static so no database allowed, and I'm not planning on switching off this site anytime soon, unless anyone can offer

[2016-11-13 22:07] VirenMohindra commented on #14
The only issues that crop are:
1. We are moving the discussion away from the site, so we will lose hits/ increase bounce rate.
2. We can't establish a community on TrumpTracker.github.io
3. Onboarding onto Reddit if people don't have an account, so another loop to jump through if people would like their voice to be heard.

Pros:
1. We don't collect any data/ personal information.
2. Purely static

[2016-11-13 22:09] VirenMohindra commented on #14
single tab will look something like this, with the comment link on the right hand side.

![screen shot 2016-11-13 at 5 07 56 pm](https://cloud.githubusercontent.com/assets/10460518/20249260/d5601bc2-a9c3-11e6-8ab1-4ba4573d507c.jpg)

[2016-11-14 00:19] jackthemaker opened #20 "We could implement links to youtube videos with the promisses"
So there can be some kind of fact check

[2016-11-14 00:23] #11 closed, assigned to nobody

[2016-11-14 02:56] VirenMohindra commented on #20
references #1

[2016-11-14 02:56] #20 closed, assigned to nobody

[2016-11-14 03:05] VirenMohindra opened #23 "Formatting Errors of Table"
Formatting errors examples on site:

1. Against the H-1B visa program.

1. Pick Supreme Court justices who are "really great legal scholars."
1. It's unclear where Trump stands on "first use," or if he'd be willing to strike first.
1. Overturn Roe v. Wade, then let states decide it.
1. Defund Planned Parenthood.
1. It doesn't matter, people make mistakes.
1. It's OK that Trump's running mate voted

[2016-11-14 03:59] VirenMohindra commented on #23
this was left out of the data.json, add it back in.

[2016-11-14 05:13] s0rthak opened #25 "Font Size is too small"
Hi.
Just a request. Since most of the site is going to be text-based, can you re-style the jekyll files to blow up the font-size to at least 16 or 18 on tablets and computers?
14px is just ridiculous to have for body text in 2016. A bigger font size will make the viewer's eyes more relaxed while reading :)

[2016-11-14 09:19] VirenMohindra opened #27 "Dynamic date not working"
hasn't updated yet, will need to review code in the morning.

[2016-11-14 12:41] VirenMohindra commented on #27
nvm being stupid. time is hard.

[2016-11-14 12:47] alanfriedman commented on #27
Actually there's a minor bug where it doesn't change exactly at midnight so I pushed a PR for it.

[2016-11-14 12:50] #27 closed, assigned to nobody

[2016-11-14 14:54] MrLuit commented on #14
But what thread are people to comment on? Will there be a seperate thread for every promise Trump made?

[2016-11-14 15:30] alanfriedman commented on #14
Why not implement [Disqus](https://disqus.com) or something similar?

[2016-11-14 18:11] VirenMohindra commented on #14
@alanfriedman i'd rather not bog down the site, and keep comments off of it. Do you think disqus might be better? I'm trying to keep toxicity off the site.

[2016-11-14 18:12] VirenMohindra commented on #14
@MrLuit yes there would be a separate thread for each policy. The only problem that will persist is when Reddit archives 6 month olf posts because of no comments, so I'll probably have to run an auto-mod, cron-job, or reddit bot to keep it open.

[2016-11-14 19:16] VirenMohindra commented on #23
@alanfriedman do you think you might know why some of the points are so haphazardly aligned on the site?

Example:
![screen shot 2016-11-14 at 2 17 00 pm](https://cloud.githubusercontent.com/assets/10460518/20279070/0db1085e-aa75-11e6-8c9e-25cd5bb8747e.jpg)

I think it might be because only one of the policies have a comment section, and it hasn't been implemented site-wide.

[2016-11-14 19:18] alanfriedman commented on #23
Probably because the JSON file has some formatting issues. It's easy to cleanup if you want to push a fix. Just edit `_data/data.json`.

[2016-11-14 19:20] VirenMohindra commented on #23
I'll fix it, thank you.

[2016-11-14 22:32] VirenMohindra opened #30 "Sub-heading search, uppercase word issues"
@MattSandy the sub-heading search has the same persistent issue which was present in the global headings, i.e, the fact that users cannot search with auto-capitalized words. `Repeal` doesn't work while `repeal` does. Maybe we can refactor the JS code so it's DRY?

[2016-11-14 22:49] VirenMohindra commented on #30
ref cf882b5

[2016-11-14 22:49] #30 closed, assigned to nobody

[2016-11-14 23:03] VirenMohindra commented on #23
@alanfriedman modifying the JSON file doesn't seem to fix it. I've tried minifying it and removing all formatting whatsoever but it doesn't seem to fix the issue.

[2016-11-15 04:53] domingohui commented on #23
I tried the Jekyll code and the css. But it didn't work either... What browser are you using?
I'm using Safari 10.0.1 on Mac.

[2016-11-15 05:20] VirenMohindra opened #33 "Twitter share integration for each policy, so once broken we can mention Donald Trump"
Thoughts? might be too far-fetched.

[2016-11-15 05:28] domingohui commented on #33
Sounds great! It's not too hard to implement. One of the pros: it promotes and builds a community every time someone tweets a policy whether it's broken or actually honoured. Also, there isn't too much overhead to the website.

I don't see too much downside to it. One might be the redundancy that comes with the integration if people don't actually end up using it, but we can remove it then.

[2016-11-15 05:50] aleross commented on #33
+1. I would mention Donald Trump when a policy is honored as well in order to keep things balanced.

[2016-11-15 05:53] VirenMohindra commented on #33
Logic:

[code]

so if `status="notCompleted"`, it won't show.

Maybe we have a different twitter message for `broken` and `completed` ?

[2016-11-15 06:42] MrLuit commented on #14
@VirenMohindra I am going to work on a comment system then. Is PHP fine or should I use javascript?

[2016-11-15 06:52] VirenMohindra commented on #14
We're hosted on GitHub pages and aren't moving anywhere soon. Php won't work -- lets try out JavaScript?

[2016-11-15 07:18] iltempe opened #35 "Generalize for every governants and any country"
Whath about to create a more generic repo to make monitoring in every country?

[2016-11-15 07:23] VirenMohindra commented on #35
This issue doesn't apply to this repository -- also who will be tracking all the policies?

I can create a generic repo and let users input the information, but tracking each and every policy made by every country would be pretty difficult.

[2016-11-15 08:18] iltempe commented on #35
Sure. I was talking about have a "generic tool" not about tracking all the policies. In this way any country can use the tool for each tracking campaign. What do you think?

[2016-11-15 13:41] alanfriedman commented on #35
I actually like this idea and had the same thought myself. Maybe fork this repo and create this issue there.

[2016-11-15 14:03] alanfriedman commented on #14
I like what they've done [here](https://govtracker.co.uk/#main_center) with Disqus comments on the promise's page.

[2016-11-15 16:18] MrLuit commented on #14
I'm currently making a seperate thread for every police via /u/TrumpTracker (bot). Can the account have moderator please? The problem is that there will be 198 threads when I'm done, so the subreddit will be a bit spammed.

When I'm done I will update data.json with all the correct URL's.

[2016-11-15 16:29] rnewton commented on #35
I'm working on such a tool. https://github.com/politicalrev/accountability-api

The first target was more or less the same as this project. @VirenMohindra, how would you feel about consuming data from accountability-api as a build step? I haven't dug into the code to see how you're sourcing data now.

[2016-11-15 16:51] domingohui commented on #14
@alanfriedman  @VirenMohindra  I'm not quite familiar with Disqus. but +1 for the Disqus implementation. it seems like a great way to build a community. I'm not sure if it's gonna work a static site on Github tho.
I would love to contribute building it.

[2016-11-15 17:12] MrLuit commented on #14
Adding Reddit comments with #37 👍

[2016-11-15 19:32] VirenMohindra commented on #35
I can definitely see this API being implemented in the near future. I just checked out your repo - how are going to be able to let us view the data? We require a JavaScript API call since we're statically hosted on GitHub.

We're currently manually sourcing data, with contributions piping straight into a google excel sheet where I can review it. Then, I add it into `data/_data.json`.

[2016-11-15 19:38] rnewton commented on #35
There are two options:
1. Use ajax to talk to the API directly. `/politicians/donald-trump/promises` would be the endpoint to hit.
2. Using grunt/gulp/task-worker-of-your-choosing pull down the promises as a build step. You basically hit the endpoint to get the json and save it to `_data/promises.json` or something like that.

1 has the advantage of always being up-to-date, but will be slower to l

[2016-11-15 22:47] illepic commented on #2
Agreed. Each promise should be it's own data point, with relationships to multiple sources. For instance: "Build the wall" could be an entry with links to various urls clarifying and reiterating this promise in the various ways it was worded.

[2016-11-15 23:07] VirenMohindra opened #39 "Search doesn't display progress of policy completion if it is broken or not in Main Nav Search"
to test - change `status` in _data.json to one of the following options and then search for it using `main-nav`.

`broken` => `danger` class
`achieved` => `success` class

paging @MattSandy

[2016-11-15 23:08] VirenMohindra commented on #2
766352e8e7cb834b74da41f754998f94d01be4c6 should partly fix this issue. Just need to add it into the templating system to show it parses correctly.

[2016-11-16 07:16] VirenMohindra opened #40 "onClick of Not Yet Started, In Progress, Achieved, and Broken, corresponding list is displayed."
![screen shot 2016-11-16 at 2 15 37 am](https://cloud.githubusercontent.com/assets/10460518/20338036/93384388-aba2-11e6-9aa3-4dc2764e102f.jpg)

[2016-11-16 13:21] VirenMohindra commented on #40
Definitely want to move this to v3.0, since this isn't a priority.

[2016-11-16 13:25] VirenMohindra commented on #23
@domingohui Latest version of Chrome Version 54.0.2840.98 (64-bit)
Problem persists on Safari Version 10.0.1 (11602.2.14.0.7)
Mozilla 40.0.3

[2016-11-16 14:03] alanfriedman opened #42 "Continuous integration/deployment via TravisCI or CircleCI"
Although master is always "live" on Github Pages, CI/CD integration would let us incorporate automated tests and would be a good time to run the bot script to create Reddit threads when new promises are added.

I'll submit a PR shortly...

[2016-11-16 14:47] alexanderankin commented on #23
td's inside of tr's need a property { width: 100% } and that seems to be the missing puzzle piece to making the table work, at least on my machine.

apparently not, but here's what is true of that: if you add the width property to one of the table data (td) tags instead a table row (tr) via google dev console, the whole section straightens itself out. by section i mean "contract with american vote

[2016-11-16 15:06] alexanderankin commented on #23
the hacky version to fix the bug:

[code]

[2016-11-16 15:07] VirenMohindra commented on #23
sounds good, keep me updated! i'll check locally too.
experiencing major outages right now, will push your PR once everything normalizes

[2016-11-16 15:35] VirenMohindra commented on #23
keeping this issue open until we can figure out a more robust solution

EDIT: Tables are separate for each policy heading, which messes up alignment across all tables.
https://github.com/twbs/bootstrap/issues/21151

[2016-11-16 18:48] MrLuit commented on #5
I know it's not perfect, but you could use https://github.com/TrumpTracker/trumptracker.github.io/commits/master.atom for an RSS feed of all commits.

[2016-11-16 18:56] pavellishin commented on #5
Yeah, that's not great - because it may not reflect actual content changes, but rather code changes. ("oh, cool, new favicon.")

[2016-11-16 19:00] VirenMohindra commented on #5
Whenever we update a policies status, we can scrape it off the site and
publish the results in a RSS feed? Not a clean cut solution but it could
work. Just need to always run something in the background

On Wed, 16 Nov 2016 at 1:57 PM, Pavel Lishin notifications@github.com
wrote:

[2016-11-16 19:00] MrLuit commented on #14
Reddit comments are added, I think this issue needs to be closed.

[2016-11-16 19:02] MrLuit commented on #5
I was actually trying to do something with the Github API, like getting the latest commits where data.yaml has been changed but the api rate is really low so it probably won't work.

[2016-11-16 19:02] VirenMohindra commented on #14
Sounds good, regarding the YAML issue, I was thinking you could wget the
live site and then scrape that data? Since it does get converted to json
online.

[2016-11-16 19:04] pavellishin commented on #5
Y'all could use a git hook to automatically check for changes to data.yaml, and modify the rss feed as well - but I believe you'd have to keep those synced and make sure each collaborator had it in the `.git/hooks` directory.

I don't know if there's git magic to keep those versioned and running as well.

[2016-11-16 19:28] iltempe commented on #35
Wow! The point 2 for me should be nice. What should be done is use the api to produce data about politicians of the world. Is so difficult to generalize this project on the frontend part?

[2016-11-16 19:30] iltempe opened #44 "Opendata Production"
If is possible link all raw data of promises on the website in order to make them open. Should be nice to have also Creative Commons licence to define the term of reuse.

[2016-11-16 19:34] VirenMohindra commented on #44
All data is currently hosted in the data/_data.yaml.

As far as reusing the data goes, I've sourced all the text from public sites, no bias in itself... Not sure what are the terms regarding modification.

Will definitely add an Open Source link on the footer though.

[2016-11-16 19:43] rnewton commented on #35
I'm happy to help out with either approach if you would like. I won't have time to dedicate to this until the weekend, however. I'd also like to complete the API and start gathering some real data.

My suggestion for generalizing the frontend would be to create a simple `_data/politicians.yml` (or whatever you want to call it) file that has all the politicians that you want to track. Then, create

[2016-11-16 22:02] VirenMohindra commented on #35
Maybe I understood @iltempe incorrectly - when I thought generic tool I was thinking more of a front-end. API would be great.

[2016-11-16 22:04] #14 closed, assigned to nobody

[2016-11-16 22:20] #44 closed, assigned to nobody

[2016-11-17 06:04] VirenMohindra commented on #42
`Duration: 29 sec`

is there any way to decrease build time?

[2016-11-17 15:46] sdossettswift opened #45 "Days left until Jan 20, 2021"

[2016-11-17 18:23] alanfriedman commented on #45
@sdossettswift What's this for?

[2016-11-17 18:24] sdossettswift commented on #45
To count the days till the end of Trump's presidency

[2016-11-17 18:28] VirenMohindra commented on #45
inapplicable -- let's take everything one step at a time and stick to him fulfilling his promises first.

[2016-11-17 18:28] #45 closed, assigned to nobody

[2016-11-17 18:51] jesusmtzarvizu opened #49 "A Spanish Version"
A Spanish Version of the **_data/data.yaml** file

[2016-11-17 18:51] jesusmtzarvizu commented on #49
I am working on it

[2016-11-17 18:53] VirenMohindra commented on #49
Fantastic work. The only issue is that I wouldn't be able to double check your work because I don't know how to speak/ read in Spanish.  Maybe one of your friends can chime in too?

[2016-11-17 18:56] VirenMohindra commented on #49
@alanfriedman as we can see here he has created a separate `data.yaml` for the spanish version. Should it be incorporated into one for maintenance and for ease of pulling the data or keep those two files separate?

@jesusmtzarvizu if you do find any duplicates/ spelling errors in the English version please feel free to let me know. It'll make our job much easier.

[2016-11-17 19:04] alanfriedman commented on #49
We should definitely keep them separate, using a naming convention like `data-es_ES.yml`. My first thought is checking a `locale` query param in the URL and choosing the data file based off that (`http://trumptracker.github.io?locale=es_ES` => `data-es_ES.yml`).

While we're at it, we should really translate the entire site. You could throw all strings in the data file for now.

[2016-11-17 19:06] VirenMohindra commented on #49
Seems reasonable - maintenance will suck when adding new policies though.

[2016-11-17 19:07] alanfriedman commented on #49
We can use automated translation (Google translate, etc) until someone has time to do it manually.

[2016-11-17 19:08] MrLuit commented on #49
If we make a spanish translation, a translation for every language should be allowed. But is it actually that useful?

[2016-11-17 19:09] VirenMohindra commented on #49
Only implementing an English and Spanish version because they're the two most spoken languages in the US.

[2016-11-17 19:10] alanfriedman commented on #49
I think it's definitely useful. We can start with Spanish and if someone wants to submit a new language they just add a new data.yml file.

[2016-11-17 19:12] MrLuit commented on #49
I think we should indeed draw the line at English and Spanish, because if a new policy is added, we have to update every language file otherwise it will be outdated.

[2016-11-17 19:14] alanfriedman commented on #49
Sounds good

[2016-11-17 22:49] iltempe commented on #35
@rnewton should be grate to have a config file to have a tool generic to track any other promises of other people in gov !

[2016-11-17 23:03] VirenMohindra commented on #35
Populating one `.config` file and then having a separate `data.yaml` for policies would work for almost every politician! sounds good.

[2016-11-18 06:27] MrLuit commented on #35
I really don't know. The whole site needs to be changed, a new subreddit for every politician, new images, etc

[2016-11-18 06:34] VirenMohindra commented on #35
@MrLuit This won't be implemented on this https://trumptracker.github.io, maybe for another domain.

[2016-11-18 06:35] MrLuit commented on #35
I would just advise people to fork and edit the site to your own politician.

[2016-11-18 06:36] VirenMohindra commented on #35
Definitely.

Closing this issue since it doesn't apply to this repo. @rnewton pull request whenever you do manage to complete the API.

[2016-11-18 06:36] #35 closed, assigned to nobody

[2016-11-18 10:34] iltempe commented on #35
@VirenMohindra I dont' understood your point. My point was to develop a generic idea starting from this but in another repo. Is not useful?

[2016-11-18 10:44] VirenMohindra commented on #35
I'm definitely open to the generic repo idea but the reason I closed this issue on GitHub is because it doesn't serve this repo as of yet, if you look at the name of the project, trumptracker.

Please feel free to fork this repository and make it generic, if you do manage to complete this and let us pipe data from a config I'll definitely try and implement this later on.

As for now, this issue re

[2016-11-18 17:36] MrLuit commented on #5
https://github.com/TrumpTracker/trumptracker.github.io/commits/master/_data/data.yaml.atom

You can use this url to get an RSS feed of all changes to _data/data.yaml 👍

[2016-11-18 19:25] VirenMohindra commented on #5
![screen shot 2016-11-18 at 2 23 44 pm](https://cloud.githubusercontent.com/assets/10460518/20443395/a1d5c11e-ad9a-11e6-90b6-7528e0f3a6bb.jpg)

The problem with subscribing to commits is that we don't see the changes, so might have to explicitly state it in the `-m "commit message"`  when we update a policy

something along the lines of "BROKEN - Propose a Constitutional Amendment to impose term l

[2016-11-18 19:31] MrLuit commented on #5
Yeah we'll just have to do that. I don't see any other easy way, but if someone wants to make that I'm open to it.

[2016-11-18 21:39] iltempe commented on #35
@rnewton have you already forked in another repo this one?

[2016-11-19 10:43] MrLuit commented on #5
I just finished the RSS feed. (I have also added the RSS button to the main page)

[Here is](https://luithollander.nl/trumptracker/rss.php) the RSS feed, [here is](https://github.com/MrLuit/TrumpTrackerRSS) the github source.

Let me know if you have any suggestions! :)

[2016-11-19 10:43] #5 closed, assigned to MrLuit

[2016-11-19 15:23] MrLuit opened #52 "Adding new policies"
To Do

1. From Google : Trump issues

2. https://www.donaldjtrump.com/issues

3. https://www.donaldjtrump.com/policies/

[2016-11-19 16:10] MrLuit opened #53 "Visual bug"
![Bug](http://i.imgur.com/WnyphdH.gif)

[2016-11-20 01:47] #53 closed, assigned to nobody

[2016-11-20 04:06] VirenMohindra commented on #52
1. Sign FADA https://www.donaldjtrump.com/press-releases/issues-of-importance-to-catholics
2. Trump vowed to end the Clean Power Plan
3. Ban Muslim Brotherhood affiliated organizations
4. Trump supports an audit of the FED http://www.realclearpolitics.com/video/2016/09/07/ron_paul_donald_trump_wants_to_audit_the_federal_reserve.html

[2016-11-20 04:12] #23 closed, assigned to nobody

[2016-11-20 08:13] MrLuit commented on #52
3ff6acdba8a9c2b57f2d868f818becc8a817320a

[2016-11-20 15:22] rnewton commented on #35
@iltempe I haven't. I need to finish the API before I think about the frontend. If you'd like to get started on a fork, https://github.com/johngeorgewright/grunt-http is a good starting point. Use grunt to hit the API or a mock API and then do the jekyll build. I'll update you (or anyone else interested) with the API url when it is deployed.

[2016-11-20 18:40] rnewton commented on #35
I've deployed the API here: http://api.accountableto.us/api/politicians/donald-trump/promises (the data isn't 1:1 with the data here). I'll be working on adding some missing features and documentation before I fork.

[2016-11-20 21:15] VirenMohindra commented on #52
1. Just as some further input, I'd love to see an entry for his promise to demand that members of NATO pay the US to continue having US protection.

[2016-11-20 21:16] VirenMohindra commented on #52
Will need to remove this
![nkie5fu](https://cloud.githubusercontent.com/assets/10460518/20466209/c22f0738-af3c-11e6-8463-029f96950359.png)

[2016-11-20 21:23] MrLuit commented on #52
793f438

Way ahead of you ;)

[2016-11-20 21:44] kylehodgetts commented on #25
PR opened

[2016-11-20 21:49] #25 closed, assigned to nobody

[2016-11-20 21:54] kylehodgetts commented on #39
How many different status' are there:
- broken
- achieved
- notStarted

That's it, right?

[2016-11-20 21:57] VirenMohindra commented on #39
thats it, yes!

Statuses:
`broken` => `danger` class
`achieved` => `success` class
`notStarted` => blank class

[2016-11-20 21:58] kylehodgetts commented on #39
Okay, working on it now :)

[2016-11-20 21:59] VirenMohindra commented on #52
1. Assign a special prosecutor to start a criminal investigation into Hillary Clinton. http://time.com/4524459/presidential-debate-donald-trump-special-prosecutor/

[2016-11-20 23:05] #39 closed, assigned to nobody

[2016-11-21 01:33] #42 closed, assigned to nobody

[2016-11-21 05:06] VirenMohindra commented on #2
commit 3666182d56af90a07a512e8b01af5ca99e867945 adds **main** source to each policy.

---

commit 78ff47ef5da96f193bc639f46984043adf19f612 adds citations to entire schema and displays first citation to each policy. -- NEEDS FIXING

The way I'm handling citations is by running through an array `citations` in `data.yaml` and displaying if **not empty**.

**Problem**: it works for the first citation

[2016-11-21 06:46] MrLuit opened #59 "Search broken"
Some commit broke the search function, the headers say 'undefined'.

[2016-11-21 06:47] VirenMohindra commented on #59
Could you put a screenshot? I can't seem to replicate the issue.

[2016-11-21 06:49] VirenMohindra commented on #59
Definitely need to run tests to pick up on these nuances.

[2016-11-21 07:40] #59 closed, assigned to nobody

[2016-11-21 07:46] MrLuit opened #61 "<a href> doesn't work on line 211 (page.html)"
See https://github.com/TrumpTracker/trumptracker.github.io/blob/master/_layouts/page.html#L211, it just outputs `<a href>` for some reason. You can test it by searching something in the upper bar, and clicking one of the categories.

[2016-11-21 07:50] VirenMohindra commented on #61
Added `a` tags and citation later on and didn't implement it in main nav search. Will probably need help -- but I do like the list of the main search being clean and then going in depth when you search below. Main source **should** work though.

[2016-11-21 14:08] alanfriedman commented on #2
I can check it out shortly...

[2016-11-21 15:47] MrLuit commented on #61
Fixed it temporarily with 6f68b32e9bbfa1ca98f90bad4461e34f9d13aa3f , when citation is fully implemented it can be re-added with the right vars

[2016-11-21 15:47] #61 closed, assigned to nobody

[2016-11-21 15:48] VirenMohindra commented on #61
We need the link! That's the main source

[2016-11-21 15:48] MrLuit commented on #61
But there's no main source anymore

[2016-11-21 15:49] VirenMohindra commented on #61
There is? It's still in the scheme afaik

[2016-11-21 15:50] MrLuit commented on #61
There's no link property under each section in the data.yaml right? It's removed because each policy has its own source now.

BTW, I only removed the header a href, not the actually source a href. You can still click each policy but you can't click a header anymore.

[2016-11-21 20:34] VirenMohindra commented on #61
You're right, I got confused.

When I looked at the commit changes from my phone I thought you edited the sources for each policy, not the main one.

[code]

[2016-11-22 04:53] alexanderankin commented on #33
[check it out](https://gist.github.com/alexanderankin/d39893193d8769ca1b9df77e588a2fd3) - I included an index.htm you can drop in overwriting the one in the repository, as well as the diff of changes, what do you guys think?

right now it is set to display the twitter button `{% if point.status == "notStarted" %}` so that the behavior is visible without additional steps for testing purposes. basic

[2016-11-22 05:07] alexanderankin commented on #33
also i wrote the code for good wording, but i didnt really put much thought into the wording, again looking for suggestions.

[2016-11-22 06:45] VirenMohindra commented on #33
Brilliant work, just refactoring and fixing the code right now.

Referencing commit: ced99ef

## Few intricacies I've noticed:
1. **Increment variable outputting text abnormally:** `{% increment issue_number %}` outputs onto the table so I found a fix. You just need to comment out the line. Jekyll will ignore the comment tags and run the Liquid syntax, but not output any code and still increment t

[2016-11-22 06:50] VirenMohindra commented on #33
Major props to @alexanderankin.

[2016-11-22 11:56] MrLuit commented on #33
I made some improvements to the tweet-function:

- e8497a06bef8043c06796a4d6ef4e4653bf20f21 Fixes the button
- e8295ce546bf1b2156cc04a8ddd9babac0f3569d Fixes the button without using another `<td>`
- 3c2bf4cf78cb38b8b8722240fa57921ecce020d6 Adds url encoding to all the tweets
- 376da37586fac73466195a4cd986a79adb46920a Changes the tweet length to fit exactly 140
- 5493ddd4c16634244ed124d705a76d5bb3

[2016-11-22 12:03] MrLuit commented on #1
I'm closing this issue because it's very hard to find a youtube video for each policy. We'll add youtube video's where we can, once #2 is finished.

Please refer to #2.

[2016-11-22 12:05] MrLuit commented on #52
0ca52b99ad0cd4fcfa1819d3bd3cf96e11a9181e

[2016-11-22 17:18] #33 closed, assigned to VirenMohindra, MrLuit

[2016-11-22 17:21] VirenMohindra commented on #1
Let's keep it open, so we don't forget about this?

[2016-11-22 18:45] VirenMohindra commented on #52
Trump will not prosecute Hillary Clinton. http://www.bbc.com/news/world-us-canada-38069585

[2016-11-23 04:25] VirenMohindra opened #63 "Analytics for Issues over time"
Referencing https://www.trudeaumetre.ca/analytics

Great idea, fantastic implementation. Would definitely like to implement this for the first 100 days at least.

![screen shot 2016-11-22 at 11 24 37 pm](https://cloud.githubusercontent.com/assets/10460518/20551159/dc70b89c-b10a-11e6-8bce-3a9a1f397eda.jpg)

Thoughts?

[2016-11-25 20:41] aflashyrhetoric commented on #1
I don't think this should stay open in its current form - burden of proof is definitely on the claimant, but video for every single claim will be very hard. In other words, source is necessary but video is not.

[2016-11-27 04:50] illepic commented on #2
Noting here that I've addressed some of this in my recent PR: https://github.com/TrumpTracker/trumptracker.github.io/pull/66

[2016-11-28 16:54] illepic opened #67 "The motherload of promises"
282 promises in one list:

[‘I will give you everything.’ Here are 282 of Donald Trump’s campaign promises.](https://www.washingtonpost.com/politics/i-will-give-you-everything-here-are-282-of-donald-trumps-campaign-promises/2016/11/24/01160678-b0f9-11e6-8616-52b15787add0_story.html)

I'd like to hear back on the data structure from #66 before making a PR to integrate all these. Note, use this arti

[2016-11-28 19:53] MrLuit commented on #67
Please refer to #52 :)

[2016-11-28 19:53] #67 closed, assigned to nobody

[2016-11-28 19:54] MrLuit commented on #52
282 promises in one list:

[‘I will give you everything.’ Here are 282 of Donald Trump’s campaign promises.](https://www.washingtonpost.com/politics/i-will-give-you-everything-here-are-282-of-donald-trumps-campaign-promises/2016/11/24/01160678-b0f9-11e6-8616-52b15787add0_story.html) @illepic #67

[2017-01-06 14:32] iltempe opened #69 "Archive.org"
Please note this archive of videos http://archive.org/details/trumparchive&tab=about

[2017-01-10 17:34] patcon opened #71 "Use a more "dignified" photo of Trump"
Not sure your politics, but I would think it might be worth using a Trump photo on the front page that is a little more neutral. The [current photo](https://imgur.com/OmQ5Xbx.png) seems to want to convey him as "unpresidential", and will likely make anyone who sympathizes with him (ie. 48% of voters) assume the site is biased against him.

Let's make a small change that will make those folks a lit

[2017-01-10 17:37] VirenMohindra commented on #71
Good suggestion. Might remove the picture itself and keep content only. Refer to https://trumptracker.github.io/revamp

Did you take a screenshot before the whole site loaded? I can't see the dynamic content loaded + favicons (check days till inauguration etc)

[2017-01-10 22:36] patcon commented on #71
Cool! Ah, oops. pasted the wrong screencap -- that one was for the another issue *about* the exact thing you pointed out. just forgot to submit it :)

doing now.

[2017-01-10 22:36] #71 closed, assigned to nobody

[2017-01-10 22:39] patcon opened #72 "Use placeholder when loading dynamic data"
Sometimes the page can take awhile to load. My first load (admittedly when my computer was chugging along) took 10 seconds. This was what I saw during that time: https://imgur.com/OmQ5Xbx.png

Would be great if the placeholder text was something more indicative of the loading process :)

Just thinking dimmed text saying something like "loading..." or whatever

[2017-01-11 16:06] MrLuit commented on #69
Hi there :)

Thanks for pointing this out, we will be able to use this in the future, instead of uploading every video to our own youtube channel. Waiting till @VirenMohindra sees this.

[2017-01-11 16:08] MrLuit commented on #72
We will likely implement a simple loading text in the new version of trumptracker. Thanks for submitting this idea.

[2017-01-11 19:54] patcon commented on #69
Since this seems to fall under the general gist of this issue, might be good to offer link to archive.org mirror for all sources, just in case things disappear or move around (not likely, but meh)

[2017-01-11 20:23] MrLuit commented on #69
I spoke to @VirenMohindra and it seems very likely that we will adapt archive.org as our main sources in the near future.

[2017-01-12 17:41] domingohui opened #73 ""Submit a new policy" button is not working"
I don't know if this came up before... Sorry if that's the case! The typeform window didn't pop up on my Chrome, IE or my phone. I can try fixing it tonight or tomorrow if no one wants it. (The actual form seems to be working tho)

[2017-01-12 17:59] VirenMohindra commented on #73
Strange -- Works on [/revamp](https://trumptracker.github.io/revamp) but not on the main page.

Working on a fix

[2017-01-13 09:01] VirenMohindra commented on #72
6981fd171c77b2512d10738fadf85ef222eba160 fixes this for inauguration date and days in office.

[2017-01-22 06:40] HysMagus opened #76 "Technicalities involving time constraints"
How technical will Trump Tracker be on the president's promises? Will promises involving time constraints which are directly mentioned like on the "first day" be held to that time in terms of completion status?
I really like this project idea! Will future promises made be added on or is it just campaign promises?

[2017-01-22 12:54] VirenMohindra commented on #76
Future promises will be added as his term continues.

We will be adhering to time constraints since that is what he planned out himself (eg 100 days).
After that the progress will be either `inProgress` or `Compromised`.

[2017-01-22 12:55] #73 closed, assigned to nobody

[2017-01-22 18:47] #76 closed, assigned to nobody

[2017-01-22 18:55] evvvritt opened #78 "Open site up to all actions, not just limited to promises"
Hi, I think this is a great project and thank you for developing it. I wonder if expanding it to track all of this actions, not just his promises would add value. It could track his executive actions, legislation, deals etc and the promises list could still be maintained and cross referenced with that "feed". A centralized, chronological and annotated list would be highly valuable in this noisy me

[2017-01-23 00:18] niekvandepas opened #81 "Filter by completion status"
It would be nice to be able to filter on completion status, e.g. 'show me all broken promises' or 'show me all achieved promises'.

[2017-01-23 14:02] MrLuit commented on #78
Yes the site is meant as platform for actions and promises, policies in general. If you can find sources of things we missed, feel free to let us know.

[2017-01-23 14:03] MrLuit commented on #81
We are working on a revamp that will allow this. Here is the beta:

https://trumptracker.github.io/revamp

[2017-01-23 14:03] #81 closed, assigned to nobody

[2017-01-23 14:03] #78 closed, assigned to nobody

[2017-01-23 17:04] individual8 opened #82 "Labels clickable?"
Can you make labels like In Progress/Achieved/Broken clickable and therefore acting as filters? Like the TrudeauMetre does?

[2017-01-23 17:29] plondon commented on #82
This seems to be on the TODO list (9)

Is this a WIP? @VirenMohindra

[2017-01-23 18:26] VirenMohindra commented on #82
please refer to #81 , this issue has been closed since v2 which is hosted on https://trumptracker.github.io/revamp has these features.

[2017-01-23 18:26] #82 closed, assigned to nobody

[2017-01-23 19:10] frosteeze opened #83 "Sort by Broken, Achieved, or In Progress"
Can we have a feature to sort by what status the promise is? Thanks.

[2017-01-23 19:15] ek68794998 commented on #83
Agreed. Would be nice to be able to click one of the "status" rows and see all promises of that type.

![image](https://cloud.githubusercontent.com/assets/1350074/22218782/360892b2-e15d-11e6-9075-480235304948.png)

Either that, or include the status in the search box (so typing "Broken" shows all broken promises, e.g.).

[2017-01-24 00:40] ek68794998 commented on #40
Looks like a duplicate of this was created at #83. Is v3 still in the works?

[2017-01-24 01:42] VirenMohindra commented on #83
Yes, please look at previous PR's, its in the works.

[2017-01-24 01:42] #83 closed, assigned to nobody

[2017-01-24 05:53] VirenMohindra commented on #40
@ekumlin yes it is

[2017-01-24 06:04] #40 closed, assigned to nobody

[2017-01-24 06:10] VirenMohindra opened #85 "Migration of new promises/sources/etc from data.yaml to revamp.yaml"
We removed a few sources, changed a few words around and need a little bit of help migrating to the new format structure.

help needed! v3 awaits!

[2017-01-25 03:18] alanfriedman opened #88 "Add contributor guide to readme"
We should add information like available status codes to the readme to help people more easily contribute.

[2017-01-25 07:38] MrLuit commented on #88
In the new revamp.yaml the status are displayed in a better way :)

    Not started:
        color: info
        icon: hourglass-start
    In progress:
        color: warning
        icon: cogs
    Achieved:
        color: success
        icon: check-circle-o
    Broken:
        color: danger
        icon: ban

[2017-01-25 14:59] VirenMohindra commented on #88
@MrLuit I think he meant making a CONTRIBUTING.md so people get a list of options when they're submitting an issue or PR. It'll be done in the next hour or so.

[2017-01-25 16:19] patcon opened #90 "Consider using prose.io for managing/editing data"
Prose.io is a platform that was designed to offer a nice non-technical UI on top of the GitHub pull-request system, so that non-technical end-users could modify jekyll-based websites.

https://developmentseed.org/blog/2012/june/25/prose-a-content-editor-for-github/

It tries to run so that the client code interacts as closely as possible with the github api, and uses only the slimmest of gateways

[2017-01-26 02:04] ghost opened #93 "Consider adding "Partially Achieved"."
Trump never got rid of gun-free zones in schools on his first day. His promise is never going to be completely fulfilled. However, he could still accomplish it a few days from now.

I propose adding the category "Partially Achieved" for promises he never completely fulfilled, but never completely broken.

[2017-01-26 14:03] MrLuit commented on #93
I agree, but I think we should call it 'Compromised'.

[2017-01-27 00:28] ghost commented on #93
That makes more sense! Let's rate it:

Thumbs up for "Compromised", thumbs down for "Partially Achieved", and Confused for something else

[2017-01-31 13:28] MrLuit commented on #90
I have looked into this and thought about the possibilities.

I understand that it is easy for non-developers to edit the website, however, our database is stored in a YAML file which would be hard to edit for non-developers. The layout and other parts of the website are not meant to be edited and again not useful for non-developers.

Even if we made a user-friendly interface to edit policies and

[2017-01-31 13:29] MrLuit commented on #88
Done, closing this one.

31f54c35e35e9b02b8c3286d5580ffff04e5c18f

[2017-01-31 13:29] #88 closed, assigned to VirenMohindra

[2017-01-31 20:01] patcon commented on #90
ok, i'm not partial to PRs, but i would love to see something similar. I mostly talked up the tech side above, but imho the main criteria for an ideal process would:

- [x] allow non-technical citizens to submit new policy
  - Typeform seems to allow this
- [ ] allow non-technical citizens to engage in conversation *before* acceptance
  - PR's currently sometimes do this, but it seems any conversa

[2017-01-31 20:01] #90 closed, assigned to nobody

[2017-02-01 16:29] VirenMohindra opened #97 "Better visibility for colors + better filtering"
- [x] Feature request (request for a new functionality)
---

### Description of your *issue*, suggested solution and other information

a) Could you make the red and green colors a bit stronger so they would be better visible?

b) also, it would be great if you could add an additional number or letter code for your 4 categories in a separate column to the right of each promise, so one could filter

[2017-02-03 13:38] VirenMohindra commented on #97
If we move to Bootstrap v4 colors, which are in styles.sass, namely

[code]

this could work. colors pop more, and are much more vibrant.

https://v4-alpha.getbootstrap.com/utilities/colors/

[2017-02-03 13:40] VirenMohindra commented on #97
442ce1e113fc0ba87799220d7ad5b59574cf481e should fix part b) of this particular issue

[2017-02-03 13:40] VirenMohindra commented on #93
442ce1e113fc0ba87799220d7ad5b59574cf481e added compromised

[2017-02-03 13:40] #93 closed, assigned to nobody

[2017-02-03 13:42] VirenMohindra commented on #85
0ea1b9e028450ebe86eeab5529ccb7bbfb6fcf8e

[2017-02-03 13:42] #85 closed, assigned to VirenMohindra, MrLuit

[2017-02-03 13:44] VirenMohindra commented on #72
442ce1e113fc0ba87799220d7ad5b59574cf481e doesn't require a load for promises/ policies because of the way the YAML data is injected into the site.

[2017-02-03 13:44] #72 closed, assigned to nobody

[2017-02-03 14:00] VirenMohindra commented on #2
In-Text Citations fully complete - 442ce1e113fc0ba87799220d7ad5b59574cf481e

thank you @illepic for your contribution.

[2017-02-03 14:00] #2 closed, assigned to nobody

[2017-02-03 14:01] VirenMohindra commented on #1
latest issue for this is #69 which is in progress. Thank you!

[2017-02-03 14:01] #1 closed, assigned to nobody

[2017-02-03 14:19] VirenMohindra opened #101 "Navbar on mobile still has line separators -- check deprecated version for fix"
### Description of your *issue*, suggested solution and other information

Mobile navbar needs to be cleaned up.
---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I assure** that I'm looking at the latest version of Trump Tracker.

### Before submitting an *issue* make sure you have:
- [x] At least skimmed through

[2017-02-03 14:22] VirenMohindra opened #102 "Help for mobile responsiveness"
### Description of your *issue*, suggested solution and other information

Mobile site of TrumpTracker looks terrible, mainly because of the `category` and `status` columns taking up unnecessary space.

One option would be to remove both of these with CSS breakpoints or remove them altogether from the site, even the desktop version.

---

### Make sure you are using the *latest* version: pull late

[2017-02-03 14:38] VirenMohindra commented on #102
@illepic any ideas on how to remove `category` and `status` without breaking search and filtering?

Also is there any way we can change back to the previous way of filtering where, when we clicked on say `First 100 Days` tab, it only showed that option, and the user doesn't have to deselect it to check other sections?

Can't seem to wrap my head around the Js at the moment...

Thank you!

[2017-02-03 23:54] VirenMohindra opened #106 "Other Significant Resources"
### Description of your *issue*, suggested solution and other information

Here are a few more resources which could help in the fact-checking process below:

---
### What is the purpose of your *issue*?
- [ ] Bug report (encountered problems with the trumptracker website)
- [ ] Site support request (request for adding support)
- [x] Feature request (request for a new functionality)
- [ ] Question

[2017-02-04 00:16] VirenMohindra opened #107 "Policies and Promises which haven't been added yet (User Submitted)"
### Description of your *issue*, suggested solution and other information

Below are a few policies submitted by users which could potentially be added to the site.
Will need further dicussion though.

---
### What is the purpose of your *issue*?
- [ ] Bug report (encountered problems with the trumptracker website)
- [x] Site support request (request for adding support)
- [x] Feature request (requ

[2017-02-04 00:17] VirenMohindra commented on #107
## Others:

On the first day in office, terminate President Obama's executive orders related to immigration. This includes getting rid of "sanctuary cities" that Trump says have become refuges for criminals. source - No. 67
https://www.washingtonpost.com/news/post-politics/wp/2016/01/22/here-are-76-of-donald-trumps-many-campaign-promises/?utm_term=.e52c0c0d9fd0

-----------------------------------

[2017-02-04 12:04] MrLuit commented on #107
Plant Carrier: eff477689d6f5fb4f7e01a29e7e615c96858e1e7

[2017-02-04 18:17] alanfriedman commented on #102
Bootstrap has a responsive table class that makes tables horizontally scroll, so that's one possible approach.

However in my experience tables aren't the best layout for mobile friendliness. I would advocate moving toward a list based approach, which would make responsive design a lot easier.

[2017-02-05 08:37] VirenMohindra commented on #102
I played around with a list based approach, but as far as I know bootstraps lists aren't technical enough for headers and listing content horizontally aligned, and will involve some CSS to accomplish it.

The site looks comfortable when you drop the `category` and `status` tags from the site, but right now it is linked with the JavaScript search and filtering capabilities.

Maybe that can be a tem

[2017-02-06 05:23] #101 closed, assigned to VirenMohindra

[2017-02-08 22:23] VirenMohindra opened #109 "Disagreement with Trump Tracking Achieved Goals"
Hey, I personally disagree with marking "Suspend immigration from terror-prone regions where vetting cannot safely occur. All vetting of people coming into our country will be considered extreme vetting." as completed, I feel that it should be in-progress. What is your reasoning behind this?

See the following:
https://www.cato.org/blog/guide-trumps-executive-order-limit-migration-national-securit

[2017-02-08 22:28] VirenMohindra opened #110 "Gentle Reminder"
This probably the most thorough tracker out there, but it hasn't been updated to reflect Trump's changes.

Trump has "in progress" two of his goals (funding the construction of the wall on the Southern border and repealing/replacing? the Affordable Care Act.

Trump has achieved his withdrawal from the TPP (http://asia.nikkei.com/Spotlight/Trump-era-begins/US-announces-withdrawal-from-TPP).

Thank

[2017-02-10 18:42] #110 closed, assigned to nobody

[2017-02-10 18:49] VirenMohindra opened #114 "Make it so users can sort by date achieved?"
### Description of your *issue*, suggested solution and other information

This could be useful. It would make it easier to track changes from day to day, as many times I go on the page only to realize I don't know what is new and what was already there.
Just a suggestion, not sure how easy/hard it would be to implement, if possible at all.

by /u/Onlyusemeusername from /r/trumptracker

---

### M

[2017-02-10 18:50] VirenMohindra commented on #114
This could be a neat feature, with another line in the dashboard where you can click on it and it'll sort every data-facet by the `dateModified` category. you could also type in the date in some format and it'll filter it out.

Thoughts?

[2017-02-10 19:03] iProdigy commented on #109
The United States Court of Appeals for the Ninth Circuit [denied](https://cdn.ca9.uscourts.gov/datastore/opinions/2017/02/09/17-35105.pdf) President Trump's emergency motion for a stay appeal yesterday, which also invalidates the "achieved status."

[2017-02-10 19:05] VirenMohindra commented on #109
We've reached a fork in the road -- do we modify the status of a policy if it gets rejected by Congress or another governing body (like the United States Court of Appeals for the Ninth Circuit) or do we keep it `achieved` because he did sign up the Executive Order and held up his end of the bargain?

Discuss

[2017-02-10 19:06] iProdigy commented on #49
Puedo hablar español. What's the status on translations @jesusmtzarvizu ?

[2017-02-10 19:29] iProdigy commented on #109
You raise a good point.

I don't think it's fair to mark it as `broken` considering he made an attempt.
However, I also don't think it's fair to consider it `achieved` as it is not actually implemented.

Rather, I believe `compromised` may be a more fitting label.

[2017-02-10 19:30] VirenMohindra commented on #109
@MrLuit thoughts?

[2017-02-10 20:21] MrLuit commented on #109
In my opinion, because Trump did exactly as he said, and he can't help that Congress rejects his plans, it should be achieved. It would be unfair to called it compromised since Trump kept his promise and that's what this site focusses on, not if the plans actually made it.

[2017-02-10 20:22] #69 closed, assigned to nobody

[2017-02-10 20:23] VirenMohindra commented on #69
0ea1b9e028450ebe86eeab5529ccb7bbfb6fcf8e + archive.org will be sending up deep-linked videos to add to our citations

[2017-02-10 20:27] VirenMohindra commented on #97
I like the flat tone of the colors

[2017-02-10 20:27] #97 closed, assigned to nobody

[2017-02-10 20:31] VirenMohindra commented on #102
To further improve responsiveness, we should probably:
- ~~Change the selection buttons to just the icons, and remove the text~~
- ~~Add a margin to the 'On Tuesday November 8th' text~~
- Make the days and promises counter more compact

[2017-02-10 20:38] MrLuit commented on #102
![](http://i.imgur.com/iRFwS9d.png)

[2017-02-10 21:07] #102 closed, assigned to VirenMohindra, MrLuit

[2017-02-10 21:10] MrLuit commented on #114
I honestly do not see why users would want to sort specifically on achieved date, although the concept of sorting the items could be useful.

[2017-02-10 21:50] jesusmtzarvizu commented on #49
I am Sorry I was enrolled on a Big project and my time is limited now so I didnt translate it.

[2017-02-10 21:52] VirenMohindra commented on #49
@iProdigy any chance you can work on this?

[2017-02-10 23:09] VirenMohindra opened #115 "Approval of Poland in the Visa Waiver Program"
I promise that within weeks of my Administration being sworn into office, I will see to the approval of Poland in the Visa Waiver Program.

http://abc7chicago.com/politics/donald-trump-campaigns-in-chicago/1530093/

[2017-02-11 00:11] iProdigy commented on #109
In light of the tracker's mission to watch his commitment to his promises, I would agree with @MrLuit  - `achieved` is most appropriate.

When I suggested `compromised` I hadn't read the documentation closely enough and was under the misconception that it was referring to the definition "exposed to risk, danger, or discredit; damaged in reputation" rather than "subjected to, arranged or modified b

[2017-02-11 00:15] iProdigy commented on #49
It would be my pleasure @VirenMohindra.

In a week my schedule will be more free to allow me to begin translating. I also want to note that while I am not a native speaker of Spanish, I am fluent with five years of experience...

[2017-02-11 00:42] VirenMohindra commented on #49
Sounds good, thank you!

If you do find any repetitions in the English version of the `data.yaml` please feel free to make PR's to join them!

[2017-02-13 14:08] ncovercash opened #117 "Add a delayed section"
### Description of your *issue*, suggested solution and other information

I would like a way to show if the goal was still accomplished, despite that it wasn't on the first day in office.  For example, #86 is under progress currently, but was not accomplished on the first day in office.  If it is accomplished, adding a way to show #86 as not _broken_, but delayed would be helpful

### Make sure y

[2017-02-13 15:14] MrLuit commented on #117
What you are describing right now would fall under the 'Compromised' category. If we are going to create a new tag for every situation it would be more complicated for the user.

[2017-02-14 13:20] ncovercash commented on #117
Alright, thanks.  I'll go ahead and close this then.

[2017-02-14 13:20] #117 closed, assigned to nobody

[2017-02-15 22:03] myyk commented on #49
I would like to help out with this. I also have a non-technical Spanish speaking friend that is willing to help out with translations.

[2017-02-15 22:46] VirenMohindra commented on #49
@myyk perfect! Please feel free to perform any PR's

[2017-02-16 00:42] LivInTheLookingGlass commented on #109
At the very least, shouldn't it be "In Progress"? Among other reasons:

1. None of these countries have contributed to terror attacks in the US
2. It's being blocked in the courts

[2017-02-16 07:23] MrLuit commented on #109
@gappleto97 Well if you think it's in progress, on which I don't agree, when is it completed?

1. Doesn't matter, if Trump makes a list of countries that are banned, than that's his right to do so.
2. Trump can't do anything about that and held his promise.

[2017-02-16 16:50] captainfedora commented on #114
I would like to see this implemented if possible, it could help see how progress was made over time

[2017-02-16 17:12] iProdigy commented on #109
Reading the promise again, I have to disagree.

Even though Trump has made an attempt to block certain countries (that has been stopped by the judiciary), [there are other "countries of concern" that haven't been addressed by Trump yet](https://www.state.gov/j/ct/rls/crt/2015/257522.htm). Therefore, the promise should be `in progress` rather than `achieved`.

[2017-02-16 21:26] LivInTheLookingGlass commented on #109
@MrLuit I feel like @iProdigy has the right idea on your first response.

As for 2) it very much matters. He did not say he would *attempt* to do this, he said that he would.

Think of it this way, if he had promised to increase the budget of NASA, but Congress did not accept his legislation on the matter, he would have failed that promise. At the end of the day, NASA's budget would be unchanged.

[2017-02-17 00:04] VirenMohindra opened #119 "Bill undoing Obama coal mining rule"
### Description of your *issue*, suggested solution and other information

Trump signs bill undoing Obama coal mining rule

http://thehill.com/policy/energy-environment/319938-trump-signs-bill-undoing-obama-coal-mining-rule.

## Please follow (and edit) the guide below to expedite the bugtracker process.

- You will be asked a few questions:
- Put an `x` into all the boxes [ ] relevant to your *pu

[2017-02-17 00:06] VirenMohindra commented on #119
Affects:

12.	First 100 Days: I will lift the restrictions on the production of $50 trillion dollars' worth of job-producing American energy reserves, including shale, oil, natural gas and clean coal.

92.	Environment: End the war on coal. (?)

[2017-02-17 00:08] VirenMohindra commented on #119
Additional Sources:

http://dailycaller.com/2017/02/16/trump-signs-repeal-of-obama-coal-mining-regulations/

http://www.cnn.com/2017/02/16/politics/scott-pruitt-donald-trump-white-house-regulations/

http://www.washingtontimes.com/news/2017/feb/16/donald-trump-nixes-obama-regulations-coal-industry/?utm_source=RSS_Feedutm_medium=RSS

https://www.rt.com/usa/377639-trump-repeal-obama-coal-mining-rule

[2017-02-17 12:44] MrLuit commented on #109
So from the way I see it, we have two options:

- This site reflects how trustable Trump is as a person (achieved)
- This site reflects how many policies and ideas of Trump made it (in progress / compromised)

Personally, I am more interested in seeing if Trump kept his word rather than seeing if his policies were achieved and made it.

[2017-02-18 18:22] iProdigy commented on #109
&nbsp;

The promise states

&nbsp;

He hasn't addressed all of the countries of concern yet (so the status should be `in progress`).

[2017-02-19 00:27] iProdigy commented on #109
Additionally Politifact's Trump-o-meter [rates](http://www.politifact.com/truth-o-meter/promises/trumpometer/promise/1402/suspend-immigration-terror-prone-places/) this claim as "in the works."

[2017-02-19 02:13] iProdigy commented on #119
Should this be closed? @VirenMohindra

[2017-02-19 02:27] iProdigy opened #122 "Trump on Winning"
In the following promise, Trump claims he's never going to lose.

        title: 'Start winning again. "We''re going to win so much -- win after win after win -- that you''re going to be begging me: ''Please, Mr. President, let us lose once or twice. We can''t stand it any more.'' And I''m going to say: ''No way. We''re going to keep winning. We''re never going to lose. We''re never, ever going to

[2017-02-19 14:25] #119 closed, assigned to nobody

[2017-02-19 14:25] VirenMohindra commented on #122
good idea, lets remove it

[2017-02-19 18:34] iProdigy commented on #122
Included in #121.

[2017-02-19 18:34] #122 closed, assigned to nobody

[2017-02-23 01:06] VirenMohindra opened #123 "Trump Transgender Bathroom Rules"
### Description of your *issue*, suggested solution and other information

Trump rescinds transgender bathroom rules

https://web.archive.org/web/20170222220427/http://www.bbc.com/news/world-us-canada-39047883

https://web.archive.org/web/20170222222718/http://www.reuters.com/article/us-usa-trump-lgbt-idUSKBN161243

https://web.archive.org/web/20170223000753/http://www.foxnews.com/opinion/2017/02/

[2017-02-26 07:30] VirenMohindra opened #125 "Accessibility - Could you include an icon with the promise for colorblind users?"
### Description of your *issue*, suggested solution and other information

Could you include a icon with the promise for colorblind users?

- From [Reddit user /u/rbevans](https://www.reddit.com/r/trumptracker/comments/5w0byl/suggestioncould_you_include_a_icon_with_the/)

## Please follow (and edit) the guide below to expedite the bugtracker process.

- You will be asked a few questions:
- Put an

[2017-02-26 08:50] #123 closed, assigned to nobody

[2017-02-26 10:58] VirenMohindra opened #126 "Since inaugration"
Bias heavy, but might be able to pull some promises from here.

[Source](https://np.reddit.com/r/politics/comments/5w7t07/sources_us_considers_quitting_un_human_rights/de7z92d/)

<p>Donald Trump...  </p>

<p><a href="https://www.salon.com/2017/01/24/iraq-is-worried-that-donald-trump-says-he-wants-to-re-invade-to-take-their-oil/">...wants to take Iraq's oil.</a><span class="noCtrlF keyNavAnnotation

[2017-02-27 13:41] EvilGamerX opened #127 "Culture: Broken I will fight for the LGBT community. Broken Disagreement"
### Description of your *issue*, suggested solution and other information

I think this item is way too broad to be considered a singular issue. Specifically looking at the bathroom issue, it seems to have been done not as a comment on the LGBT community but as a response to the Federal Government vs State Government, especially when there are certain people within the LGBT community who don't see

[2017-03-15 11:18] VirenMohindra opened #129 "Automatic reply to @realDonaldTrump with update on # of promises with resp. status"
### Description of your *issue*, suggested solution and other information

As soon as a tweet is posted from his account, something along the lines of:

could auto-reply to him. Coul be set up on a Heroku server or locally.
---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I assure** that I'm looking at the latest

[2017-03-15 16:21] iProdigy commented on #129
Looks like a great idea to me!

We can utilize a wrapper around [Twitter's streaming api](https://dev.twitter.com/streaming/userstreams) to listen to Trump's tweets and then [use their REST api to post our tweets](https://dev.twitter.com/rest/reference/post/statuses/update). [Here](https://dev.twitter.com/resources/twitter-libraries) are some libraries that could be useful.

I am familiar with Jav

[2017-03-15 17:19] VirenMohindra commented on #129
I'm currently out of town and won't have service till Saturday. If you'd like to get started with this project you're more than welcome. I recommend you creating a new feature branch and then performing a PR once it's fully fledged out. One of the edge cases would be reaching the max tweet limit, so please keep that in mind when fleshing this not out. I've removed the compromised status because of

[2017-03-15 17:19] VirenMohindra commented on #129
Python is preferable!

[2017-03-19 04:03] VirenMohindra opened #130 "Trump plans to "See them in court" after the 9th circuit upholding overruling travel ban"
Trump plans to "See them in court" after the 9th circuit appeals court upheld the overruling of the travel ban.

- https://www.aol.com/article/news/2017/02/09/see-you-in-court-defiant-trump-rails-against-appeals-court-ru/21711097/

- http://www.nbcnews.com/video/president-trump-appeals-court-ruling-a-political-decision-873915459528

- http://www.foxnews.com/politics/2017/02/09/appeals-court-uphold

[2017-03-19 04:22] VirenMohindra commented on #106
http://www.politifact.com/personalities/donald-trump/statements/byruling/false/

[2017-03-19 12:42] VirenMohindra opened #131 "https://github.com/netlify/netlify-cms for respective policies page"
### Description of your *issue*, suggested solution and other information

https://github.com/netlify/netlify-cms is interesting to build off on for the sub-pages in the /projects directory. WIP

---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I assure** that I'm looking at the latest version of Trump Tracker.

#

[2017-03-20 12:56] VirenMohindra opened #132 "Trump promised to govern for all Americans"
### Description of your *issue*, suggested solution and other information

'I will be president for all Americans' — transcript of Donald Trump's election night victory speech

http://www.latimes.com/politics/la-na-pol-trump-election-night-speech-20161108-story.html

Submitted through the Typeform

---

I am not sure how we can keep a track of this promise.

[2017-03-20 19:47] iProdigy commented on #132
In a literal sense, Donald Trump is already the president for all Americans.

[2017-03-20 20:03] iProdigy commented on #130
I wouldn't consider this a substantial promise to the American people (rather a juvenile tweet in response to the denial of his appeal by the 9th circuit court). Anyways, Trump said he would instead issue a new executive order altogether.

[2017-03-20 20:05] VirenMohindra commented on #130
Do you think we should restructure that into a new promise altogether?

[2017-03-20 20:07] iProdigy commented on #130
Well he already did issue the second executive order. But it, too, has been (at least temporarily) thwarted by the judicial branch...

I think that "Suspend immigration from terror-prone regions where vetting cannot safely occur. All vetting of people coming into our country will be considered extreme vetting" should be marked as `in progress` as debated in #109.

[2017-03-20 20:22] iProdigy commented on #127
I think it's interesting that this administration likes to pull the "states' rights" card when it will benefit them/their ideology (rather than provide compassion for all people).

Regardless: After withdrawing these protections, a fighter for the LGBTQ+ community would be taking actions to reinstate similar protections at the state-level, yet Trump has not done so.

[2017-04-04 16:23] VirenMohindra opened #134 "[UPDATE] Refusing Presidential Salary"
### Description of your *issue*, suggested solution and other information

http://money.cnn.com/2017/04/03/news/trump-salary-national-parks/ - originally, you marked this promise as "broken." However, now we see that Trump really is refusing his presidential salary. This should be updated on your Trump Tracker!

- Davis

### Before submitting an *issue* make sure you have:
- [x] At least skimmed t

[2017-04-05 19:18] iProdigy commented on #134
It's not exactly donating it to a charity that is partly decided by the press (as the White House said they would) but I'll still consider this promise as `in progress`.

[2017-04-05 20:57] #134 closed, assigned to nobody

[2017-04-12 21:52] VirenMohindra opened #136 "Label China as a currency manipulator [BROKEN]"
### Description of your *issue*, suggested solution and other information

China not a Currency Manipulator [BROKEN] | Promise no. 10 broken

"I will direct my Secretary of the Treasury to label China a currency manipulator"

Sources:

- https://web.archive.org/web/20170412214830/https://qz.com/957327/backtracking-on-one-of-his-biggest-campaign-pledges-trump-says-china-is-not-a-currency-manipulato

[2017-04-12 21:57] #136 closed, assigned to nobody

[2017-04-12 23:27] VirenMohindra opened #137 "No. 2 Institute a hiring freeze on all federal employees to reduce federal workforce through attrition (exempting military, public safety, and public health [UPDATE]"
Should this be **compromised** or **broken**?

### Description of your *issue*, suggested solution and other information

- https://web.archive.org/web/20170412080116/http://www.npr.org/2017/04/12/523473051/trump-lifting-federal-hiring-freeze
- https://www.scribd.com/document/344966998/OMB-Memo-on-Reforming-the-Federal-Government-and-Reducing-the-Federal-Civilian-Workforce

[2017-04-13 02:16] iProdigy commented on #137
I'd mark this promise as `in progress` for the time being and update to `compromised` if the administration is able to deliver.

[2017-04-13 20:53] #137 closed, assigned to iProdigy

[2017-04-19 20:36] VirenMohindra opened #138 "Buy American, Hire American - which promise does this fit under? [ACHIEVED]"
### Description of your *issue*, suggested solution and other information

Might need to create a new promise and mark it as achieved. Thoughts?

https://www.whitehouse.gov/the-press-office/2017/04/18/presidential-executive-order-buy-american-and-hire-american
---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I ass

[2017-04-19 20:39] VirenMohindra opened #139 "Veterans Choice Program Extension and Improvement Act [ACHIEVED]"
### Description of your *issue*, suggested solution and other information

Confused about the addition of this promise too. Thoughts?

Sources:
- https://web.archive.org/web/20170419035954/http://www.military.com/daily-news/2017/04/18/trump-sign-bill-extending-va-choice-program.html
- https://www.whitehouse.gov/the-press-office/2017/04/19/remarks-president-trump-signing-s-544-veterans-choice-progr

[2017-04-19 20:45] iProdigy commented on #138
I would mark this promise as `compromised` rather than `achieved` as Trump consistently promised that the Keystone XL pipeline would be built with American steel but [that's not happening](http://money.cnn.com/2017/03/03/news/companies/trump-keystone-pipeline-american-steel/).

[2017-04-19 20:48] VirenMohindra commented on #138
Good catch -- since the pipeline isn't government owned and the pipeline was already in progress does it still fit into this specific 'promise'? He might have promised to use American steel, but it seems a bit harsh to hold him accountable if the project was in progress before his EO.

[2017-04-19 21:03] iProdigy commented on #139
I would say this move is related to the following promise:

&nbsp;

However, this promise itself is somewhat nebulous to me. It seems that Trump is asserting that the United States has never cared for its military and he will take action(s) that will "care" for the military.

As a result, it would be disingenuous to mark this promise as `achieved` as it would imply the United States has never care

[2017-04-19 21:08] iProdigy commented on #138
In my view this should be included under this promise. Trump repeatedly said the Keystone XL pipeline would be built with American steel and [he is the one who authorized its construction](http://www.washingtonexaminer.com/trump-signs-executive-orders-authorizing-keystone-xl-dakota-access-pipelines/article/2612804) through a [memorandum](https://www.whitehouse.gov/the-press-office/2017/01/24/presi

[2017-04-19 21:15] iProdigy commented on #132
His statement can also be interpreted to mean he will make decisions that are favorable for every American (impossible)...

[2017-04-19 21:15] VirenMohindra commented on #139
Since most of his promises are abstract and nebulous at best, is it fair to mark this as `in Progress`? The next best course would be to retitle this promise, with better wording, something along the lines of 'Start taking better care of our military' OR 'Improve the lives of Veterans'

Some more points to consider:

His federal hiring freeze _inadvertently_ previously affected the military but ha

[2017-04-19 21:16] VirenMohindra commented on #138
Strong points to consider. Lets get more people to weigh in on this before making a decision.

[2017-04-19 21:19] VirenMohindra commented on #138
I can safely assume this promise aligns with his

which is already marked as 'in Progress'. Best we can do is add these sources to the promise, what do you think?

[2017-04-19 21:22] VirenMohindra commented on #132
Again, his promises are overarching to an extent that we cannot possibly quantify it into a specific status. I propose we mark as `compromised`.

[2017-04-19 21:38] iProdigy commented on #132
Perhaps the promise shouldn't be added at all (?)...

[2017-04-19 23:55] iProdigy commented on #139
I am in favor of rewording the promise and marking it as `in progress`.

[2017-04-21 15:48] iProdigy commented on #138
I don't know if it makes sense to add this action to that specific promise as it is in reference to getting the End Illegal Immigration Act passed.

[2017-04-21 20:03] VirenMohindra commented on #138
Should we separate the promises?

[2017-04-21 22:38] VirenMohindra opened #140 "Trump blows his deadline on anti-hacking plan [BROKEN]"
### Description of your *issue*, suggested solution and other information

- https://web.archive.org/web/20170420113420/http://www.politico.com/story/2017/04/20/trump-cybersecurity-hackers-237385

---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I assure** that I'm looking at the latest version of Trump Tracker.

[2017-04-26 15:23] arbyruns commented on #125
thanks!

[2017-05-01 19:00] MrLuit opened #142 "Mark every in progress-policy as broken in 100 days category"
### Description of your *issue*, suggested solution and other information

Every 100 days promise that is now on 'in progress' should be marked as broken until it is executed, then it should be compromised.

---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I assure** that I'm looking at the latest version of Trump

[2017-05-01 19:02] MrLuit commented on #142
I will try to do this tomorrow but I'm not sure if I can do this alone.

[2017-05-02 06:12] VirenMohindra commented on #142
Can we add a clause to the 100 days promise so that people know and understand that if the president does complete any of the aforementioned promises, we will mark it as `compromised`?

[2017-05-03 16:36] MrLuit commented on #142
24a5799ca8b75f1057e8b9cdb1a74375dac5fafd

[2017-05-03 16:36] #142 closed, assigned to nobody

[2017-05-03 18:16] MrLuit commented on #125
#144 will kind of fix this because the promise page will show the status in text.

[2017-05-03 18:18] MrLuit opened #145 "[SUGGESTION] Seperate title and description"
### Description of your *issue*, suggested solution and other information

Just an idea.

Some titles are really long and some titles are way too short. By creating a seperate 'title' and 'description' there would also be more space on the homepage. The description will only be shown on the promise page.

---

### Make sure you are using the *latest* version: pull latest commits before reporting a

[2017-05-03 18:20] MrLuit commented on #131
This will (probably) not be needed after #144 is merged.

[2017-05-03 18:57] VirenMohindra commented on #145
Great idea: how do we standardize the length of promises and what should overflow into the description? Do you have anything in mind?

[2017-05-03 19:06] MrLuit commented on #145
If we want the full title to fit inside a h2 without wrapping to a newline, the limit is ~69 characters. That is very short but I think it will be a good guideline. This will also make the 'prettyurl' truncate of 100 characters unnecessary.

The twitter limit is ~62 characters if we include the hastags and promise no: etc.

[2017-05-03 19:06] #131 closed, assigned to nobody

[2017-05-03 19:07] #52 closed, assigned to nobody

[2017-05-03 19:20] VirenMohindra commented on #145
69 characters at what viewport (window browser size)?
I'll keep this in mind but I think the newline will probably end up happening anyways.

A key point we need to focus on is mobile responsiveness.
I'll take a look at the `data.yaml` tonight

[2017-05-03 19:45] MrLuit commented on #145
I meant 89 at 1920x1080

[2017-05-05 14:10] timcason opened #148 "Political bias of contributors on time independent promises"
### Description of your *issue*, suggested solution and other information

I was hoping that this tracker would be something that is a pure data driven tracker, but more and more i have noticed that updates and contributions seem a little too hastily accepted as 'Broken' promises.  I am not advocating for anyone to agree or disagree with the proposed promises, however it has come to a point that I

[2017-05-05 23:08] VirenMohindra commented on #148
Could you provide sources for the `Broken` promises that you've listed which might mark it as inconclusive?

[2017-05-06 15:21] MrLuit commented on #148
Here's my thought on this: since we have added Reddit comments support all reasoning behind marking something as broken can be stickied to the top of the comments. This was not possible earlier.

[2017-05-08 11:53] VirenMohindra opened #149 "[REQUEST] Create a category for 100-day promises which were completed, just not in the 100 days."
### Description of your *issue*, suggested solution and other information

Create a category for 100-day promises which were completed, just not in the 100 days. Trump has had a really hard time getting people approved. There are also some promises where they were just opening-deal positions. Consider China and what looks like a good working relationship now and his reversal on the Putin position.

[2017-05-08 11:56] VirenMohindra opened #150 "[FIX] Gray "compromised" appears blue on my ipad. cannot tell it from blue."
### Description of your *issue*, suggested solution and other information

Gray "compromised" appears blue on my ipad. cannot tell it from blue.

Sent by Typeform by Toby

Referencing #97 and #125 this is becoming a real problem.
---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **verified** and **I assure** that I'm looking at the l

[2017-05-08 17:19] MrLuit commented on #149
But this is exactly what 'compromised' was made for.

Edit: Don't forget that a comment is stickied to every 100 days promise that was marked as 'broken' because they were not completed in 100 days.

[2017-05-09 10:51] MrLuit opened #151 "[Discussion] Future of the comments"
## The issue
All Reddit comments will be archived on **15 May 2017 18:14 UTC**. Reddit has a function that archives a post after 6 months. This means that in 6 days, no new comments can be placed, no comments can be edited or deleted and no comments can be un-stickied. Please note that there is no way to stop the archiving. Commenting or editing will **not** delay it by 6 months.

## Solutions

##

[2017-05-09 12:04] #149 closed, assigned to nobody

[2017-05-09 15:58] MrLuit commented on #151
I just realized that referring people to the new thread won't work because in 6 months a third post will be created. This will lead to users finding the first post to have to click 2 times to get to the new thread.

When TrumpTracker is 4 years old this will mean that there are 8 threads and that users who found the first thread will have to click 7 times to get to the current post.

Testing Reddi

[2017-05-09 18:37] MrLuit commented on #150
We could change it to #b5cede

![](https://i.imgur.com/vMkKQsF.png)

[2017-05-09 18:40] #145 closed, assigned to MrLuit

[2017-05-09 19:39] MrLuit commented on #149
Update: I have added a status_info to data.yaml :)

[2017-05-09 19:40] MrLuit commented on #148
Update: I have added a status_info to data.yaml to display reasoning behind marking something as broken or achieved or whatever :)

[2017-05-09 19:40] #148 closed, assigned to nobody

[2017-05-12 15:39] VirenMohindra opened #152 "[IN PROGRESS] Trump just signed an executive order for a full review of the country’s digital defenses"
### Description of your *issue*, suggested solution and other information

Trump just signed an executive order for a full review of the country’s digital defenses

https://www.recode.net/2017/5/11/15626024/trump-signed-executive-order-review-digital-defenses-cyber-attack-security

---

### Make sure you are using the *latest* version: pull latest commits before reporting any issues.
- [x] I've **

[2017-05-14 13:28] #151 closed, assigned to nobody

[2017-05-14 13:32] #150 closed, assigned to nobody

[2017-05-14 13:32] #125 closed, assigned to nobody

[2017-05-14 13:32] #132 closed, assigned to nobody

[2017-05-14 13:33] MrLuit commented on #114
Merged with #63

[2017-05-14 13:33] #114 closed, assigned to VirenMohindra

[2017-05-14 13:33] MrLuit commented on #63
This could be useful. It would make it easier to track changes from day to day, as many times I go on the page only to realize I don't know what is new and what was already there.
Just a suggestion, not sure how easy/hard it would be to implement, if possible at all.

by /u/Onlyusemeusername from /r/trumptracker

[2017-05-14 13:58] MrLuit commented on #127
If Trump shows that he cares and fights for the LGBT community, this promise will be marked as completed. This could be done by signing a bill that will allow for more transgender bathrooms, but it can also be done in a ton of other ways. This statement isn't "complex", it's actually really easy.

[2017-05-14 13:58] #127 closed, assigned to iProdigy, MrLuit

[2017-05-23 10:21] VirenMohindra opened #154 "Status of Promises [100 Days]"
I was wondering if you stopped working on your Trump Tracker. The reason I ask is that it does not appear like you have updated the tags for completion lately. If we are going to validate the premise of your project, should the results not reflect the truth?

President Trump's 100th day was 4/29/2017. There is an additional issue of separation of powers. Legislation must go through Congress. The E

[2017-06-08 17:40] TrumpTracker commented on #129
https://github.com/TrumpTracker/UpdateTrump/commit/0ecf13d16466da220ddcc694b2e1de564b34bf41 closes this issue.

[2017-06-08 17:40] #129 closed, assigned to VirenMohindra

[2017-09-06 18:16] HysMagus opened #157 "Regarding DACA [Valid on 9/6/2017]"
Do the recent actions regarding DACA count for the promise "Not started -  Dreamers can maybe stay"
He didn't really break the promise as he said maybe, the Dreamers are now going to be eligible for deportation barring an action by Congress in the coming six months. Since he said maybe I do not sure how to categorize this change in status (if at all).

https://www.nytimes.com/2017/09/05/us/politic

[2017-09-10 10:59] cyberixae commented on #63
Perhaps it would make more sense if you'd use percentage on the y-axis and move broken promises to the top so the red area would be growing down from the top.
![ttgraph](https://user-images.githubusercontent.com/1158275/30248416-270b8c6e-9630-11e7-9b65-7809381de10a.png)

[2017-09-10 16:57] cyberixae commented on #63
I fixed the x-axis to the length of the term in my drawing above. This has the benefit that you can see how much time there is left until the end of the term. Some of the promises might still be unresolved when the term ends. It might make sense to let the x-axis grow after the term ends to show what promises got fulfilled or broken afterwards.

[2018-02-13 22:11] FlippantCactus opened #159 "Updating this"
Who will be updating this? Any members who will do this?
Thanks in advance

[2018-02-14 17:25] iProdigy commented on #159
https://www.reddit.com/r/trumptracker/comments/7gvmgi/_/

I am limited on time as well but am open to any pull requests

[2020-04-07 13:53] #49 closed, assigned to nobody